<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983105261123-qfp6ltc8c7bo5aclcupochhhhqlo69ag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983105261123-qfp6ltc8c7bo5aclcupochhhhqlo69ag</string>
	<key>API_KEY</key>
	<string>AIzaSyC5W2fs2DU3d14we56BkwkbHXYMdIq7kfI</string>
	<key>GCM_SENDER_ID</key>
	<string>983105261123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>api-test-user.schedjoules.com</string>
	<key>PROJECT_ID</key>
	<string>ios-sdk-d1983</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-sdk-d1983.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983105261123:ios:bcf85441fe1100b0</string>
	<key>DATABASE_URL</key>
	<string>https://ios-sdk-d1983.firebaseio.com</string>
</dict>
</plist>